* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bar {
  background-color: white;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
.download {
  fill: blue;
  height: 20px;
  width: 20px;
}
.nav-link {
  padding-top: 10px;
}
.nav-link ul {
  align-items: center;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
}
.nav-link ul li {
  display: inline;
}
.nav-link ul li a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}
.button {
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px;
  container: flex;
  justify-content: center;
}
.button a {
  display: flex;
  justify-content: center;
}
.back-section {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/bg-image.avif");
  background-size: cover;
  backgroung-repeat: none;
}

.para-div {
  position: absolute;
  color: white;
  font-size: 50px;
  margin-left: 5%;
  margin-top: 15%;
  font-weight: bold;
}
.wht-button {
  background-color: white;
  display: inline-flex;
  position: absolute;
  margin-top: 25%;
  margin-left: 5%;
  /* padding-left: 20%; */
  padding: 10px;
  /* width: 70%; */
  border-radius: 20px;
  gap: 2.25rem;
}
.div-div img {
  width: 20px;
  height: 20px;
  padding: 2px;
  /* display: inline; */
}
.div-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
}
.div-div:last-child {
  background-color: #191e3b;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.div-div:last-child button {
  background: none;
  border: none;
  color: white;
  padding: 0px 10px;
}
.message {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #dfe0e4;
  padding: 20px;
}
.messaging {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191e3b;
  width: 80%;
  height: 40%;
  margin: 5%;
  align-content: center;
  padding: 1.3%;
  gap: 28rem;
  /* justify-content: center;
    align-items: center; */
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.mess {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.register {
  font-size: 12px;
}
   